body > footer{
  background-color: #494949;
  font: normal normal 12px @msyaheiFontFamily;
  color: #fff;
  text-align: center;
  .nav-features{
    margin: 2em 0;
    padding: 0;
    .ico{
      display: block;
      margin: 0 auto;
    }
    p{
      color: @white;
      min-width: 147px;
      a{
        color: #A1FBFF;
      }
    }
  }
}
